---
title: Featured Projects
slug: featured-projects
layout: default
order: 1
---

<div class="project-search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="label-search-projects">Search</span>
    </div>
    <input type="text" class="form-control control-project-search" placeholder='"Node.js", "API", "Silas"' aria-label="Search projects" aria-describedby="label-search-projects">
  </div>
</div>

<div class="card-deck">
  {% for project in site.data.projects %}
    {% assign mod = forloop.index | modulo: 3 %}

    {% include component/project-card.html project=project %}

    {% if mod == 0 %}
    <div class="w-100 d-none d-sm-block"><!-- wrap every 3 on md--></div>
    {% endif %}
  {% endfor %}
</div>

<script>
  var projects = {{ site.data.projects | jsonify }};
</script>
