<nav class="navbar navbar-top navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand text-font-headline" href="{{ '/' | absolute_url }}" title="GoDaddy Open Source">
    {{ site.theme_settings.title | default: site.title }}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="topnav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/featured-projects" title="Featured projects">
          Featured Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog-posts" title="Blog posts">
          Blog Posts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/code-of-conduct" title="Code of Conduct">
          Code of Conduct
        </a>
      </li>
    </ul>
  </div>
</nav>
