// -----------------------------------------------------------------------------
// This file contains all styles related to layout navigation
// -----------------------------------------------------------------------------

.navigation {
  background: white;
  box-shadow: none;

  font-family: $text-headline-stack;

  a:not(.btn),
  ul a:not(.btn) {
    color: $godaddy-dark-grey;

    &:hover {
      color: #111;
    }
  }

  .brand-logo {
    left: 15px;
    color: #181818;
  }
}
