// -----------------------------------------------------------------------------
// This file contains everything related to the default theme
// -----------------------------------------------------------------------------

body {
  background: white;
}

.btn,
.btn-large {
  background-color: $godaddy-deep-green;
  color: white;

  &:hover {
    background-color: #00782e;
  }
}

.page-footer {
  background: $godaddy-dark-grey;

  .footer-copyright {
    background-color: #242424;
  }
}
