// -----------------------------------------------------------------------------
// This file contains everything related to the GoDaddy theme
// -----------------------------------------------------------------------------

$godaddy-black-base: #111;
$godaddy-primary-base: #1976D2;
$godaddy-primary-highlight: #A9EDFF;
$godaddy-secondary-base: #00A4A6;
$godaddy-secondary-highlight: #A6FFF8;
$godaddy-secondary-midrange: #09757A;
$godaddy-product-base: #fff;
$godaddy-grey-midrange: #444;
$godaddy-grey-dark: #2b2b2b;

body {
  background: white;
}
