// -----------------------------------------------------------------------------
// This file contains styles for the button component
// -----------------------------------------------------------------------------

.btn.btn-primary {
  background-color: $product-base;
  border-color: $grey-dark;
  color:  $grey-dark;
  border-radius: 0;

  &:hover,
  &:active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $product-base;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color:  $product-base;
  }
  &.nav-link:hover {
  	color: $product-base;
  }
}
