.featured-repos {
  .carousel-indicators {
    position: relative;
  }

  .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, .25);
  }

  .carousel-indicators .active {
    background-color: #444;
  }
}
